include README.rst
include requirement.txt
include facturx/xsd/zugferd/ZUGFeRD1p0_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_12.xsd
include facturx/xsd/zugferd/ZUGFeRD1p0_urn_un_unece_uncefact_data_standard_QualifiedDataType_12.xsd
include facturx/xsd/zugferd/ZUGFeRD1p0_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_15.xsd
include facturx/xsd/zugferd/ZUGFeRD1p0.xsd
include facturx/xsd/facturx-en16931/FACTUR-X_EN16931.xsd
include facturx/xsd/facturx-en16931/FACTUR-X_EN16931_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd
include facturx/xsd/facturx-en16931/FACTUR-X_EN16931_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd
include facturx/xsd/facturx-en16931/FACTUR-X_EN16931_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd
include facturx/xsd/facturx-minimum/FACTUR-X_MINIMUM_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd
include facturx/xsd/facturx-minimum/FACTUR-X_MINIMUM_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd
include facturx/xsd/facturx-minimum/FACTUR-X_MINIMUM.xsd
include facturx/xsd/facturx-minimum/FACTUR-X_MINIMUM_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd
include facturx/xsd/facturx-extended/FACTUR-X_EXTENDED_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd
include facturx/xsd/facturx-extended/FACTUR-X_EXTENDED.xsd
include facturx/xsd/facturx-extended/FACTUR-X_EXTENDED_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd
include facturx/xsd/facturx-extended/FACTUR-X_EXTENDED_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd
include facturx/xsd/facturx-basicwl/FACTUR-X_BASIC-WL_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd
include facturx/xsd/facturx-basicwl/FACTUR-X_BASIC-WL.xsd
include facturx/xsd/facturx-basicwl/FACTUR-X_BASIC-WL_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd
include facturx/xsd/facturx-basicwl/FACTUR-X_BASIC-WL_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd
include facturx/xsd/facturx-basic/FACTUR-X_BASIC_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd
include facturx/xsd/facturx-basic/FACTUR-X_BASIC.xsd
include facturx/xsd/facturx-basic/FACTUR-X_BASIC_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd
include facturx/xsd/facturx-basic/FACTUR-X_BASIC_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd
include facturx/xmp/ZUGFeRD_extension_schema.xmp
include facturx/xmp/Factur-X_extension_schema.xmp
